{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "xo",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": [
      2,
      "tab"
    ],
    "object-curly-spacing": [
      2,
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}
